/*------------------------------------------------
	Mixins
------------------------------------------------*/
/* Block level style for parent elements */
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@font-face {
  font-family: 'gt_sectrabook';
  src: url("../../fonts/gt-sectra-book-webfont.eot");
  src: url("../../fonts/gt-sectra-book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/gt-sectra-book-webfont.woff2") format("woff2"), url("../../fonts/gt-sectra-book-webfont.woff") format("woff"), url("../../fonts/gt-sectra-book-webfont.ttf") format("truetype"), url("../../fonts/gt-sectra-book-webfont.svg#gt_sectrabook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gt_sectrablack';
  src: url("../../fonts/gt-sectra-black-webfont.eot");
  src: url("../../fonts/gt-sectra-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/gt-sectra-black-webfont.woff2") format("woff2"), url("../../fonts/gt-sectra-black-webfont.woff") format("woff"), url("../../fonts/gt-sectra-black-webfont.ttf") format("truetype"), url("../../fonts/gt-sectra-black-webfont.svg#gt_sectrablack") format("svg");
  font-weight: 300;
  font-style: normal; }

.home h2 {
  line-height: 1.2;
  margin: 0; }

/*------------------------------------------------
	HTML5-bp opininated defaults
------------------------------------------------*/
::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

img.loader {
  display: block; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #000;
  margin: 50px 0;
  padding: 0;
  width: 100%;
  float: left; }

hr.alt-01 {
  margin: 0;
  background-color: #000;
  border-top: 1px solid #777777;
  padding-bottom: 10px; }

/* PNG Fallback for SVG background-images in unsupported browsers */
.svg .svg-fallback {
  background: url("../img/icons/graphic.svg"); }

.no-svg .svg-fallback {
  background: url("../img/icons/graphic.png"); }

.top-bar {
  background-color: #ffebc9;
  height: 10px; }

header[role="banner"] .sub-nav ul {
  padding: 30px 0; }
  header[role="banner"] .sub-nav ul li {
    display: inline-block; }

header[role="banner"] .logo-img {
  width: 170px;
  height: 62px;
  margin-bottom: 40px; }

header[role="banner"] .hero-img {
  padding-top: 20px; }

header[role="banner"] .nav ul {
  border-top: 5px solid #000;
  padding-left: 0; }
  header[role="banner"] .nav ul li {
    display: inline-block; }
    header[role="banner"] .nav ul li a {
      display: block;
      padding: 25px 27px;
      font-size: 22px;
      font-family: "Karla", Helvetica, Arial, sans-serif;
      font-weight: bold; }

.partners {
  padding: 40px 0;
  background-color: #ffc3ad; }
  .partners img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px; }

footer[role="contentinfo"] {
  background-color: #000;
  padding-top: 100px;
  color: #fff; }
  footer[role="contentinfo"] a {
    color: #fff; }
  footer[role="contentinfo"] input[type=text],
  footer[role="contentinfo"] input[type=email] {
    border: 1px solid #777777;
    width: 100%;
    background-color: transparent;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px; }
    footer[role="contentinfo"] input[type=text]:focus,
    footer[role="contentinfo"] input[type=email]:focus {
      outline: none;
      border: 1px solid #fff; }
  footer[role="contentinfo"] input::-webkit-input-placeholder {
    color: #777777; }
  footer[role="contentinfo"] input:-moz-placeholder {
    color: #777777; }
  footer[role="contentinfo"] input::-moz-placeholder {
    color: #777777; }
  footer[role="contentinfo"] input:-ms-input-placeholder {
    color: #777777; }
  footer[role="contentinfo"] input:focus::-webkit-input-placeholder {
    color: transparent; }
  footer[role="contentinfo"] input:focus:-moz-placeholder {
    color: transparent; }
  footer[role="contentinfo"] input:focus::-moz-placeholder {
    color: transparent; }
  footer[role="contentinfo"] input:focus:-ms-input-placeholder {
    color: transparent; }
  footer[role="contentinfo"] input[type=submit] {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 5px 10px; }
  footer[role="contentinfo"] .footer-nav ul {
    padding: 0;
    list-style: none;
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px; }
    footer[role="contentinfo"] .footer-nav ul li {
      padding: 0 0 10px 0; }
      footer[role="contentinfo"] .footer-nav ul li a {
        color: inherit;
        text-decoration: none;
        font-family: "Karla", Helvetica, Arial, sans-serif;
        font-weight: 300; }
        footer[role="contentinfo"] .footer-nav ul li a:hover {
          text-decoration: underline; }
  footer[role="contentinfo"] .copyright {
    color: #777777;
    font-size: 14px;
    width: 350px; }
  footer[role="contentinfo"] .humans {
    padding-top: 50px;
    padding-bottom: 70px;
    font-style: italic; }
    footer[role="contentinfo"] .humans .break {
      color: #777777;
      font-style: normal;
      padding: 0 20px; }
    footer[role="contentinfo"] .humans a {
      text-decoration: underline;
      font-style: normal; }
  footer[role="contentinfo"] .sponsors {
    background-color: inherit;
    color: #777777; }
    footer[role="contentinfo"] .sponsors h2 {
      padding: 50px 0;
      margin: 0; }
    footer[role="contentinfo"] .sponsors img {
      margin-bottom: 50px;
      opacity: 0.5;
      cursor: pointer;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5; }
      footer[role="contentinfo"] .sponsors img:hover {
        opacity: 1; }

/*
footer,
.sponsors {
	background: {
		color: #000;
	}
}
*/
section,
main {
  width: 100%;
  float: left;
  display: block; }

/* Dev Stuff 7/3/16 */
.home-box {
  height: 210px;
  background-color: none;
  border: 1px solid #333; }

.home-box.large {
  height: 260px;
  background-color: #ffc3ad; }

.home-box.c-01 {
  height: 260px;
  background-color: #00ffdc; }

.home-box.c-02 {
  height: 260px;
  background-color: #ffa19f; }

.home-box.c-03 {
  height: 260px;
  background-color: #cfa1f3; }

.home-box-inner {
  height: 195px;
  background-color: #000000; }

/*------------------------------------------------
	HTML5-bp browser upgrade
------------------------------------------------*/
.browserupgrade {
  margin: 0.2em 0;
  background-color: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*------------------------------------------------
	HTML5-blank wp core defaults
------------------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------------------
	HTML5-bp print styles
------------------------------------------------*/
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
