@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@font-face {
  font-family: 'gt_sectrabook';
  src: url("../../fonts/gt-sectra-book-webfont.eot");
  src: url("../../fonts/gt-sectra-book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/gt-sectra-book-webfont.woff2") format("woff2"), url("../../fonts/gt-sectra-book-webfont.woff") format("woff"), url("../../fonts/gt-sectra-book-webfont.ttf") format("truetype"), url("../../fonts/gt-sectra-book-webfont.svg#gt_sectrabook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gt_sectrablack';
  src: url("../../fonts/gt-sectra-black-webfont.eot");
  src: url("../../fonts/gt-sectra-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/gt-sectra-black-webfont.woff2") format("woff2"), url("../../fonts/gt-sectra-black-webfont.woff") format("woff"), url("../../fonts/gt-sectra-black-webfont.ttf") format("truetype"), url("../../fonts/gt-sectra-black-webfont.svg#gt_sectrablack") format("svg");
  font-weight: 300;
  font-style: normal; }

/*------------------------------------------------
	HTML5-bp opininated defaults
------------------------------------------------*/
::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.top-bar {
  background-color: #ffebc9;
  height: 10px; }

/*------------------------------------------------
	HTML5-bp browser upgrade
------------------------------------------------*/
.browserupgrade {
  margin: 0.2em 0;
  background-color: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*------------------------------------------------
	HTML5-blank wp core defaults
------------------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------------------
	HTML5-bp print styles
------------------------------------------------*/
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
